7 - Python Set Path in Windows and Help

In [3]:
print("Hello, World!")

Hello, World!

In [7]:
help()

Welcome to Python 3.12's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.12/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".


Here is a list of available topics.  Enter any topic name to get more help.

ASSERTION           DELETION            LOOPING             SHIFTING
ASSIGNMENT          DICTIONARIES        MAPPINGMETHODS      SLICINGS
ATTRIBUTEMETHODS    DICTIONARYLITERALS  MAPPINGS            SPECIALATTRIBUTES
ATTRIBUTES          DYNAMICFEATURES     METHODS             SPECIALIDENTIFIERS
AUGMENTEDASSIGNMENT ELLIPSIS            MODULES             SPECIALMETHODS
BASICMETHODS        EXCEPTIONS          NAMESPACES          STRINGMETHODS
BINARY              EXECUTION           NONE                STRINGS
BITWISE             EXPRESSIONS         NUMBERMETHODS       SUBSCRIPTS
BOOLEAN             FLOAT               NUMBERS             TRACEBACKS
CALLABLEMETHODS     FORMATTING          OBJECTS             TRUTHVALUE
CALLS               FRAMEOBJECTS        OPERATORS           TUPLELITERALS
CLASSES             FRAMES              PACKAGES            TUPLES
CODEOBJECTS         FUNCTIONS           POWER               TYPEOBJECTS
COMPARISON          IDENTIFIERS         PRECEDENCE          TYPES
COMPLEX             IMPORTING           PRIVATENAMES        UNARY
CONDITIONAL         INTEGER             RETURNING           UNICODE
CONTEXTMANAGERS     LISTLITERALS        SCOPING
CONVERSIONS         LISTS               SEQUENCEMETHODS
DEBUGGING           LITERALS            SEQUENCES

Mutable Sequence Types
**********************

The operations in the following table are defined on mutable sequence
types. The "collections.abc.MutableSequence" ABC is provided to make
it easier to correctly implement these operations on custom sequence
types.

In the table *s* is an instance of a mutable sequence type, *t* is any
iterable object and *x* is an arbitrary object that meets any type and
value restrictions imposed by *s* (for example, "bytearray" only
accepts integers that meet the value restriction "0 <= x <= 255").

+--------------------------------+----------------------------------+-----------------------+
| Operation                      | Result                           | Notes                 |
|================================|==================================|=======================|
| "s[i] = x"                     | item *i* of *s* is replaced by   |                       |
|                                | *x*                              |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s[i:j] = t"                   | slice of *s* from *i* to *j* is  |                       |
|                                | replaced by the contents of the  |                       |
|                                | iterable *t*                     |                       |
+--------------------------------+----------------------------------+-----------------------+
| "del s[i:j]"                   | same as "s[i:j] = []"            |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s[i:j:k] = t"                 | the elements of "s[i:j:k]" are   | (1)                   |
|                                | replaced by those of *t*         |                       |
+--------------------------------+----------------------------------+-----------------------+
| "del s[i:j:k]"                 | removes the elements of          |                       |
|                                | "s[i:j:k]" from the list         |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.append(x)"                  | appends *x* to the end of the    |                       |
|                                | sequence (same as                |                       |
|                                | "s[len(s):len(s)] = [x]")        |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.clear()"                    | removes all items from *s* (same | (5)                   |
|                                | as "del s[:]")                   |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.copy()"                     | creates a shallow copy of *s*    | (5)                   |
|                                | (same as "s[:]")                 |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.extend(t)" or "s += t"      | extends *s* with the contents of |                       |
|                                | *t* (for the most part the same  |                       |
|                                | as "s[len(s):len(s)] = t")       |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s *= n"                       | updates *s* with its contents    | (6)                   |
|                                | repeated *n* times               |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.insert(i, x)"               | inserts *x* into *s* at the      |                       |
|                                | index given by *i* (same as      |                       |
|                                | "s[i:i] = [x]")                  |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.pop()" or "s.pop(i)"        | retrieves the item at *i* and    | (2)                   |
|                                | also removes it from *s*         |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.remove(x)"                  | remove the first item from *s*   | (3)                   |
|                                | where "s[i]" is equal to *x*     |                       |
+--------------------------------+----------------------------------+-----------------------+
| "s.reverse()"                  | reverses the items of *s* in     | (4)                   |
|                                | place                            |                       |
+--------------------------------+----------------------------------+-----------------------+

Notes:

1. *t* must have the same length as the slice it is replacing.

2. The optional argument *i* defaults to "-1", so that by default the
   last item is removed and returned.

3. "remove()" raises "ValueError" when *x* is not found in *s*.

4. The "reverse()" method modifies the sequence in place for economy
   of space when reversing a large sequence.  To remind users that it
   operates by side effect, it does not return the reversed sequence.

5. "clear()" and "copy()" are included for consistency with the
   interfaces of mutable containers that don’t support slicing
   operations (such as "dict" and "set"). "copy()" is not part of the
   "collections.abc.MutableSequence" ABC, but most concrete mutable
   sequence classes provide it.

   New in version 3.3: "clear()" and "copy()" methods.

6. The value *n* is an integer, or an object implementing
   "__index__()".  Zero and negative values of *n* clear the sequence.
   Items in the sequence are not copied; they are referenced multiple
   times, as explained for "s * n" under Common Sequence Operations.

Related help topics: LISTLITERALS


You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

10 - Data Types in Python

In [8]:
num = 2.5
type(num)

float

In [9]:
num = 5
type(num)

int

In [10]:
num = 6+9j
type(num)

complex

In [19]:
a = 5.6
b = int(a)
print(b, type(b))

5 <class 'int'>

In [21]:
k = float(b)
print(k, type(k))

5.0 <class 'float'>

In [22]:
k = 6
c = complex(b, k)
c

(5+6j)

In [23]:
b < k

True

In [25]:
bool = b < k
print(bool, type(bool))

True <class 'bool'>

In [26]:
b > k

False

In [27]:
int(True)

1

In [29]:
int(False)

0

In [30]:
lst = [1, 2, 3, 4, 5]
type(lst)

list

In [31]:
s = {1, 2, 3, 4, 5}
type(s)

set

In [32]:
t = (1, 2, 3, 4, 5)
type(t)

tuple

In [34]:
str = "Hello, World!"
st = 'Mukul'

print(st, type(st))
print(str, type(str))

Mukul <class 'str'>
Hello, World! <class 'str'>

In [35]:
range(10)

range(0, 10)

In [ ]:
list(range(10))

<class 'type'> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range (2,10,2))

[2, 4, 6, 8]

In [1]:
type(range(10))

range

In [6]:
d = {'name': 'mukul', 'os' : 'arch-linux' , 'ide' : 'vs-code', 'city': 'ayodhya'}
d

{'name': 'mukul', 'os': 'arch-linux', 'ide': 'vs-code', 'city': 'ayodhya'}

In [7]:
d.keys()

dict_keys(['name', 'os', 'ide', 'city'])

In [8]:
d.values()

dict_values(['mukul', 'arch-linux', 'vs-code', 'ayodhya'])

In [9]:
d['name']

'mukul'

In [10]:
d.get('os')

'arch-linux'

17 - Swap Two Values

The classic way to swap the values of two variables using a temporary variable.

In [ ]:
a = 5
b = 3
print (a,b)

temp = a
a = b
b = temp

print (a,b)

5 3
3 5

Swap the values of two variables (a and b) without using a temporary variable.

In [ ]:
a = 3
b = 9
print (a,b)

a = a+b
b = a-b
a = a-b

print (a,b)

3 9
9 3

Swap the values of two variables, a and b, using the XOR bitwise operator (^).

In [ ]:
a = 7
b = 5
print (a,b)

a = a ^ b
b = a ^ b
a = a ^ b

print (a,b)

7 5
5 7

18 - User input in Python

In [ ]:
name = input ("Enter Your Name: ")
print(name)

Enter Your Name: Mukul
Mukul

In [ ]:
x = input ("Enter First Number: ")
y = input ("Enter Second Number: ")
z = x+y
print(z)

Enter First Number: 4
Enter Second Number: 5
45

In [ ]:
x = int (input ("Enter First Number: "))
y = int (input ("Enter Second Number: "))
z = x+y
print(z)

Enter First Number: 4
Enter Second Number: 5
9

This code snippet gets input from the user and then prints only the first character of that input.

In [ ]:
ch = input ('Enter a character: ') [0]
print (ch)

Enter a character: asdad
a

This code snippet gets input from the user, treats that input as a Python expression, evaluates it, and then prints the result.

In [ ]:
result = eval (input ('Enter an Expression: '))
print (result)

Enter an Expression: 5+5-3
7

In [ ]:
import sys

x = int(sys.argv[1])
y = int(sys.argv[2])

z=x+y

print (z)

26 - Array

In [ ]:
from array import *

vals = array('i',[4,3,5,6,])
print(vals)

array('i', [4, 3, 5, 6])

In [ ]:
from array import *

vals = array('i',[1,3,4.5,5.0])
print(vals)

TypeError: 'float' object cannot be interpreted as an integer

In [ ]:
from array import *

vals = array('i',[1,2,3,-4,5])
print(vals)

array('i', [1, 3, -4, 5, 6])

In [ ]:
from array import *

vals = array('I',[1,2,3,-4,5])
print(vals)

OverflowError: can't convert negative value to unsigned int

In [ ]:
from array import *

vals = array('i',[1,2,3,4,5])
vals.reverse()

print(vals)

array('i', [5, 4, 3, 2, 1])

In [ ]:
from array import *

vals = array('i',[1,2,3,4,5])
print(vals[2])

3

In [ ]:
from array import *

vals = array('i',[1,2,3,4,5])

for i in range(5):
  print(vals[i])

1
2
3
4
5

In [ ]:
from array import *

vals = array('i',[1,2,3,4,5])

for i in range(len(vals)):
  print(vals[i])

1
2
3
4
5

In [ ]:
from array import *

vals = array('i',[1,2,3,4,5])

for e in vals:
  print(e)

1
2
3
4
5

In [ ]:
from array import *

vals = array('u',['a','e','i','o','u'])
print(vals)

for e in vals:
  print(e)

array('u', 'aeiou')
a
e
i
o
u

In [ ]:
from array import *

vals = array('i',[1,2,3,4,5])

newArr = array(vals.typecode, (a*a for a in vals))

# for e in newArr:
#   print(e)

i = 0

while i<len(newArr):
  print(newArr[i])
  i += 1

1
4
9
16
25

In [ ]:
from array import *

arr = array('i',[])

l = int(input("Enter the length of the array: "))

for i in range(l):
  x = int(input("Enter the next value: "))
  arr.append(x)

print(arr)

Enter the length of the array: 3
Enter the next value: 2
Enter the next value: 4
Enter the next value: 6
array('i', [2, 4, 6])

In [ ]:
from array import *

arr = array('i',[])

l = int(input("Enter the length of the array: "))

for i in range(l):
  x = int(input("Enter the next value: "))
  arr.append(x)

print(arr)

val = int(input("Enter the value for search: "))
k = 0
for e in arr:
  if e==val:
    print(k)
    break
  k+=1

print(arr.index(val))

Enter the length of the array: 5
Enter the next value: 8
Enter the next value: 4
Enter the next value: 5
Enter the next value: 2
Enter the next value: 6
array('i', [8, 4, 5, 2, 6])
Enter the value for search: 5
2
2

28 - Numpy

In [1]:
!pip install numpy

Collecting numpy
  Using cached numpy-2.3.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
Using cached numpy-2.3.1-cp312-cp312-win_amd64.whl (12.7 MB)
Installing collected packages: numpy
Successfully installed numpy-2.3.1

In [ ]:
from numpy import *

arr = array([1,2,3,6,5,4],int)
print(arr)

[1 2 3 6 5 4]

In [ ]:
from numpy import *

arr = array([

             [1,2,3],
             [6,5,4]
])

print(arr)

print(arr.dtype)

print(arr.ndim)

print(arr.shape)

print(arr.size)

[[1 2 3]
 [6 5 4]]
int64
2
(2, 3)
6

In [ ]:
from numpy import *

arr = array([

             [1,2,3],
             [6,5,4]
])

arr2 = arr.flatten()
print(arr2)

[1 2 3 6 5 4]

In [ ]:
from numpy import *

arr = array([

             [1,2,3,4,5,6],
             [3,5,0,7,8,9]
])

arr3 = arr.reshape(3,4)
print(arr3)

[[1 2 3 4]
 [5 6 3 5]
 [0 7 8 9]]

In [ ]:
from numpy import *

arr = array([

             [1,2,3,7,8,9],
             [4,5,6,1,2,3]
])

arr2 = arr.reshape(2,2,3)
print(arr2)

[[[1 2 3]
  [7 8 9]]

 [[4 5 6]
  [1 2 3]]]

In [ ]:
from numpy import *

arr = array([

             [1,2,3,4],
             [5,6,7,8]
])

m = matrix(arr)

print(m)

[[1 2 3 4]
 [5 6 7 8]]

In [ ]:
from numpy import *

# m = matrix('1 2 3 ; 4 5 6')

# m = matrix('1 2; 3 4; 5 6')

m = matrix('1 2 3; 4 5 6; 7 8 9')

# print(m)
print(m.diagonal())

[[1 5 9]]

In [ ]:
from numpy import *

m1 = matrix('1 2 3; 4 5 6; 7 8 9')
m2 = matrix('1 2 3; 4 5 6; 7 8 9')

m3 = m1 * m2

print(m3)

[[ 30  36  42]
 [ 66  81  96]
 [102 126 150]]

In [ ]:
from numpy import *

m1 = [[1, 2, 3],
      [4, 5, 6],
      [7, 8, 9]]

m2 = [[1, 2, 3],
      [4, 5, 6],
      [7, 8, 9]]

result_matrix = [[0, 0, 0],
                 [0, 0, 0],
                 [0, 0, 0]]


for i in range(len(m1)):
  for j in range(len(m2[0])):
   for k in range(len(m2)):
      result_matrix[i][j] += m1[i][k] * m2[k][j]

print("Result of 3x3 matrix multiplication:")
for row in result_matrix:
  print(row)

Result of 3x3 matrix multiplication:
[30, 36, 42]
[66, 81, 96]
[102, 126, 150]

32 - Functions in Python

In [ ]:
def greet():
  print("Hello")
  print("Good Morning")

def add(x,y):
  c = x + y
  print(c)

# greet()

add(2,3)

5

In [ ]:
def add_sub(x,y):
  a = x + y
  s = x - y
  return a,s

result1, result2 = add_sub(5,3)
print(result1)
print(result2)

8
2

34 - Function Arguments in Python

In [ ]:
def update(x):
  x = 8
  print("x ",x)

a = 10
update(a)
print("a ",a)

x  8
a  10

In [ ]:
def update(x):

  print(id(x))
  x = 8
  print(id(x))
  print("x ",x)

a = 10
print(id(a))
update(a)
print("a ",a)

10758024
10758024
10757960
x  8
a  10

In [ ]:
def update(x):

  print(id(x))
  x[1] = 25
  print(id(x))
  print("x ",x)

a = [10,20,30]
print(id(a))
update(a)
print("a ",a)

133945508199168
133945508199168
133945508199168
x  [10, 25, 30]
a  [10, 25, 30]

34 - Types of Arguments in Python

In [ ]:
def add(a, b):
    c = a + b
    print(c)

add(5, 6)

11

In [ ]:
def person(name, age):
  print(name)
  print(age)

person('mukul',25)

mukul
25

In [ ]:
def person(name, age=26):
  print(name)
  print(age)

person(age=25, name='mukul')

mukul
25

In [ ]:
# def sum(a, *b):
def sum(*b):

  c = 0

  # c = a

  for i in b:
    c = c + i

  print(c)

sum(5,6,2,9)

22

35 - Keyworded Variable Length Arguments in Python

In [ ]:
def person(name,*data):

    print(name)
    print(data)

person('mukul', 25, 'Ayodhya', 76975)

mukul
(28, 'Ayodhya', 76975)

In [ ]:
def person(name,**data):

    print(name)
    print(data)

person('mukul', age=25, city='Ayodhya', mob=76975)

mukul
{'age': 25, 'city': 'Ayodhya', 'mob': 76975}

In [ ]:
def person(name,**data):

    print(name)
    for i,j in data.items():
      print(i,j)

person('mukul', age=25, city='Ayodhya', mob=76975)

mukul
age 25
city Ayodhya
mob 76975

36 - Global Keyword in Python | Global vs Local Variable

In [ ]:
a  = 10

def something():
  a = 15

  print("in fun ",a)

something()

print("Outside ",a)

in fun  15
Outside  10

In [ ]:
a = 10

def something():
  a = 15
  print("Inside ",a)

something()
print("Outside ",a)


print(a)

Inside  15
Outside  10
10

In [ ]:
a  = 10

def something():
  global a
  a = 15

  print("in fun ",a)

something()

print("Outside ",a)

in fun  15
Outside  15

In [ ]:
a  = 10
print(id(a))

def something():

  a = 9

  x = globals()['a']

  print(id(x))

  print("in fun ",a)

something()

print("Outside ",a)

10758024
10758024
in fun  9
Outside  10

In [ ]:
a  = 10
print(id(a))

def something():

  a = 9

  x = globals()['a']

  print(id(x))

  print("in fun ",a)

  globals()['a'] = 15

something()

print("Outside ",a)

10758024
10758024
in fun  9
Outside  15

37 - Pass List to a Function in Python

In [ ]:

def count(lst):
  even = 0
  odd = 0
  for i in lst:
    if i%2==0:
      even+=1
    else:
      odd+=1
  return even, odd

lst = {1,2,3,4,5,6,7,8,9}

even, odd = count(lst)

print("Even: {} and Odd: {}".format(even, odd))

Even: 4 and Odd: 5

Count Odd and Even Numbers from a User Input List

In [ ]:
def count(lst):
    even = 0
    odd = 0
    for i in lst:
        if i % 2 == 0:
            even += 1
        else:
            odd += 1
    return even, odd

nums = input("Enter numbers (space-separated): ")

nums = nums.split()
nums = [int(n) for n in nums]

even, odd = count(nums)

print("Even: {} and Odd: {}".format(even, odd))

Enter numbers (space-separated): 11 23 45 67 89 98
Even: 1 and Odd: 5

Assignment - Take 10 Names from user and count and display the number of users name has more than 5 letters

In [ ]:
names = []

for i in range(10):
    name = input(f"Enter name {i+1}: ")
    names.append(name)

count = 0
for n in names:
    if len(n) > 5:
        count += 1

print("Number of names with more than 5 letters:", count)

Enter name 1: Mukul
Enter name 2: Shubham
Enter name 3: Saurabh
Enter name 4: Akshat
Enter name 5: Shivam
Enter name 6: Rishi
Enter name 7: Rishabh
Enter name 8: Harshit
Enter name 9: Tushar
Enter name 10: Ram
Number of names with more than 5 letters: 7

In [ ]:
def count_names_longer_than_five():
  long_names_count = 0
  for i in range(10):
    name = input(f"Enter name {i + 1}: ")
    if len(name) > 5:
      long_names_count += 1
  print(f"Number of names with more than 5 letters: {long_names_count}")

count_names_longer_than_five()

Enter name 1: Shubham
Enter name 2: Shivam
Enter name 3: Mukul
Enter name 4: Praveen
Enter name 5: Telusko
Enter name 6: Rishabh
Enter name 7: Harshit
Enter name 8: Shyam
Enter name 9: Saurabh
Enter name 10: Prajjwal
Number of names with more than 5 letters: 8

38 - Fibonacci Sequence

In [ ]:
def fib(n):

  a = 0
  b = 1

  if n==1:
    print(a)
  else:
    print(a)
    print(b)

    for i in range(2,n):
      c = a + b
      a = b
      b = c
      print(c)

fib(10)

0
1
1
2
3
5
8
13
21
34

Assignment: 1 - Fibonacci Series with Check for Negative Input

In [ ]:
def fib(num):
  a = 0
  b = 1

  if num <= 0:
    print("Please enter a positive integer.")
  elif num == 1:
    print(a)
  else:
    print(a)
    print(b)

    for i in range(2, num):
      c = a + b
      a = b
      b = c
      print(c)

num = input("Enter a number: ")
try:
    num = int(num)
    fib(num)
except ValueError:
    print("Invalid input. Please enter an integer.")

Enter a number: 6
0
1
1
2
3
5

Assignment: 2 - Print Fibonacci numbers that are less than the number entered by the user

In [ ]:
def fib(num):
    if num <= 0:
        print("Please enter a positive number.")
        return

    a = 0
    b = 1

    while a < num:
        print(a)
        c = a + b
        a = b
        b = c

num = input("Enter a number: ")
try:
    num = int(num)
    fib(num)
except ValueError:
    print("Invalid input. Please enter an integer.")

Enter a number: 100
0
1
1
2
3
5
8
13
21
34
55
89

39 - Factorial

In [ ]:
def fact(n):

  f = 1

  for i in range(1,n+1):
    f = f*i

  return f

x = 4

result = fact(x)

print(result)

24

40 - Recurrsion

In [ ]:
import sys

sys.setrecursionlimit(2000)

print(sys.getrecursionlimit())

i = 0

def greet():
  global i
  i+=1
  print("Hello", i)
  greet()

greet()

2000
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10
Hello 11
Hello 12
Hello 13
Hello 14
Hello 15
Hello 16
Hello 17
Hello 18
Hello 19
Hello 20
Hello 21
Hello 22
Hello 23
Hello 24
Hello 25
Hello 26
Hello 27
Hello 28
Hello 29
Hello 30
Hello 31
Hello 32
Hello 33
Hello 34
Hello 35
Hello 36
Hello 37
Hello 38
Hello 39
Hello 40
Hello 41
Hello 42
Hello 43
Hello 44
Hello 45
Hello 46
Hello 47
Hello 48
Hello 49
Hello 50
Hello 51
Hello 52
Hello 53
Hello 54
Hello 55
Hello 56
Hello 57
Hello 58
Hello 59
Hello 60
Hello 61
Hello 62
Hello 63
Hello 64
Hello 65
Hello 66
Hello 67
Hello 68
Hello 69
Hello 70
Hello 71
Hello 72
Hello 73
Hello 74
Hello 75
Hello 76
Hello 77
Hello 78
Hello 79
Hello 80
Hello 81
Hello 82
Hello 83
Hello 84
Hello 85
Hello 86
Hello 87
Hello 88
Hello 89
Hello 90
Hello 91
Hello 92
Hello 93
Hello 94
Hello 95
Hello 96
Hello 97
Hello 98
Hello 99
Hello 100
Hello 101
Hello 102
Hello 103
Hello 104
Hello 105
Hello 106
Hello 107
Hello 108
Hello 109
Hello 110
Hello 111
Hello 112
Hello 113
Hello 114
Hello 115
Hello 116
Hello 117
Hello 118
Hello 119
Hello 120
Hello 121
Hello 122
Hello 123
Hello 124
Hello 125
Hello 126
Hello 127
Hello 128
Hello 129
Hello 130
Hello 131
Hello 132
Hello 133
Hello 134
Hello 135
Hello 136
Hello 137
Hello 138
Hello 139
Hello 140
Hello 141
Hello 142
Hello 143
Hello 144
Hello 145
Hello 146
Hello 147
Hello 148
Hello 149
Hello 150
Hello 151
Hello 152
Hello 153
Hello 154
Hello 155
Hello 156
Hello 157
Hello 158
Hello 159
Hello 160
Hello 161
Hello 162
Hello 163
Hello 164
Hello 165
Hello 166
Hello 167
Hello 168
Hello 169
Hello 170
Hello 171
Hello 172
Hello 173
Hello 174
Hello 175
Hello 176
Hello 177
Hello 178
Hello 179
Hello 180
Hello 181
Hello 182
Hello 183
Hello 184
Hello 185
Hello 186
Hello 187
Hello 188
Hello 189
Hello 190
Hello 191
Hello 192
Hello 193
Hello 194
Hello 195
Hello 196
Hello 197
Hello 198
Hello 199
Hello 200
Hello 201
Hello 202
Hello 203
Hello 204
Hello 205
Hello 206
Hello 207
Hello 208
Hello 209
Hello 210
Hello 211
Hello 212
Hello 213
Hello 214
Hello 215
Hello 216
Hello 217
Hello 218
Hello 219
Hello 220
Hello 221
Hello 222
Hello 223
Hello 224
Hello 225
Hello 226
Hello 227
Hello 228
Hello 229
Hello 230
Hello 231
Hello 232
Hello 233
Hello 234
Hello 235
Hello 236
Hello 237
Hello 238
Hello 239
Hello 240
Hello 241
Hello 242
Hello 243
Hello 244
Hello 245
Hello 246
Hello 247
Hello 248
Hello 249
Hello 250
Hello 251
Hello 252
Hello 253
Hello 254
Hello 255
Hello 256
Hello 257
Hello 258
Hello 259
Hello 260
Hello 261
Hello 262
Hello 263
Hello 264
Hello 265
Hello 266
Hello 267
Hello 268
Hello 269
Hello 270
Hello 271
Hello 272
Hello 273
Hello 274
Hello 275
Hello 276
Hello 277
Hello 278
Hello 279
Hello 280
Hello 281
Hello 282
Hello 283
Hello 284
Hello 285
Hello 286
Hello 287
Hello 288
Hello 289
Hello 290
Hello 291
Hello 292
Hello 293
Hello 294
Hello 295
Hello 296
Hello 297
Hello 298
Hello 299
Hello 300
Hello 301
Hello 302
Hello 303
Hello 304
Hello 305
Hello 306
Hello 307
Hello 308
Hello 309
Hello 310
Hello 311
Hello 312
Hello 313
Hello 314
Hello 315
Hello 316
Hello 317
Hello 318
Hello 319
Hello 320
Hello 321
Hello 322
Hello 323
Hello 324
Hello 325
Hello 326
Hello 327
Hello 328
Hello 329
Hello 330
Hello 331
Hello 332
Hello 333
Hello 334
Hello 335
Hello 336
Hello 337
Hello 338
Hello 339
Hello 340
Hello 341
Hello 342
Hello 343
Hello 344
Hello 345
Hello 346
Hello 347
Hello 348
Hello 349
Hello 350
Hello 351
Hello 352
Hello 353
Hello 354
Hello 355
Hello 356
Hello 357
Hello 358
Hello 359
Hello 360
Hello 361
Hello 362
Hello 363
Hello 364
Hello 365
Hello 366
Hello 367
Hello 368
Hello 369
Hello 370
Hello 371
Hello 372
Hello 373
Hello 374
Hello 375
Hello 376
Hello 377
Hello 378
Hello 379
Hello 380
Hello 381
Hello 382
Hello 383
Hello 384
Hello 385
Hello 386
Hello 387
Hello 388
Hello 389
Hello 390
Hello 391
Hello 392
Hello 393
Hello 394
Hello 395
Hello 396
Hello 397
Hello 398
Hello 399
Hello 400
Hello 401
Hello 402
Hello 403
Hello 404
Hello 405
Hello 406
Hello 407
Hello 408
Hello 409
Hello 410
Hello 411
Hello 412
Hello 413
Hello 414
Hello 415
Hello 416
Hello 417
Hello 418
Hello 419
Hello 420
Hello 421
Hello 422
Hello 423
Hello 424
Hello 425
Hello 426
Hello 427
Hello 428
Hello 429
Hello 430
Hello 431
Hello 432
Hello 433
Hello 434
Hello 435
Hello 436
Hello 437
Hello 438
Hello 439
Hello 440
Hello 441
Hello 442
Hello 443
Hello 444
Hello 445
Hello 446
Hello 447
Hello 448
Hello 449
Hello 450
Hello 451
Hello 452
Hello 453
Hello 454
Hello 455
Hello 456
Hello 457
Hello 458
Hello 459
Hello 460
Hello 461
Hello 462
Hello 463
Hello 464
Hello 465
Hello 466
Hello 467
Hello 468
Hello 469
Hello 470
Hello 471
Hello 472
Hello 473
Hello 474
Hello 475
Hello 476
Hello 477
Hello 478
Hello 479
Hello 480
Hello 481
Hello 482
Hello 483
Hello 484
Hello 485
Hello 486
Hello 487
Hello 488
Hello 489
Hello 490
Hello 491
Hello 492
Hello 493
Hello 494
Hello 495
Hello 496
Hello 497
Hello 498
Hello 499
Hello 500
Hello 501
Hello 502
Hello 503
Hello 504
Hello 505
Hello 506
Hello 507
Hello 508
Hello 509
Hello 510
Hello 511
Hello 512
Hello 513
Hello 514
Hello 515
Hello 516
Hello 517
Hello 518
Hello 519
Hello 520
Hello 521
Hello 522
Hello 523
Hello 524
Hello 525
Hello 526
Hello 527
Hello 528
Hello 529
Hello 530
Hello 531
Hello 532
Hello 533
Hello 534
Hello 535
Hello 536
Hello 537
Hello 538
Hello 539
Hello 540
Hello 541
Hello 542
Hello 543
Hello 544
Hello 545
Hello 546
Hello 547
Hello 548
Hello 549
Hello 550
Hello 551
Hello 552
Hello 553
Hello 554
Hello 555
Hello 556
Hello 557
Hello 558
Hello 559
Hello 560
Hello 561
Hello 562
Hello 563
Hello 564
Hello 565
Hello 566
Hello 567
Hello 568
Hello 569
Hello 570
Hello 571
Hello 572
Hello 573
Hello 574
Hello 575
Hello 576
Hello 577
Hello 578
Hello 579
Hello 580
Hello 581
Hello 582
Hello 583
Hello 584
Hello 585
Hello 586
Hello 587
Hello 588
Hello 589
Hello 590
Hello 591
Hello 592
Hello 593
Hello 594
Hello 595
Hello 596
Hello 597
Hello 598
Hello 599
Hello 600
Hello 601
Hello 602
Hello 603
Hello 604
Hello 605
Hello 606
Hello 607
Hello 608
Hello 609
Hello 610
Hello 611
Hello 612
Hello 613
Hello 614
Hello 615
Hello 616
Hello 617
Hello 618
Hello 619
Hello 620
Hello 621
Hello 622
Hello 623
Hello 624
Hello 625
Hello 626
Hello 627
Hello 628
Hello 629
Hello 630
Hello 631
Hello 632
Hello 633
Hello 634
Hello 635
Hello 636
Hello 637
Hello 638
Hello 639
Hello 640
Hello 641
Hello 642
Hello 643
Hello 644
Hello 645
Hello 646
Hello 647
Hello 648
Hello 649
Hello 650
Hello 651
Hello 652
Hello 653
Hello 654
Hello 655
Hello 656
Hello 657
Hello 658
Hello 659
Hello 660
Hello 661
Hello 662
Hello 663
Hello 664
Hello 665
Hello 666
Hello 667
Hello 668
Hello 669
Hello 670
Hello 671
Hello 672
Hello 673
Hello 674
Hello 675
Hello 676
Hello 677
Hello 678
Hello 679
Hello 680
Hello 681
Hello 682
Hello 683
Hello 684
Hello 685
Hello 686
Hello 687
Hello 688
Hello 689
Hello 690
Hello 691
Hello 692
Hello 693
Hello 694
Hello 695
Hello 696
Hello 697
Hello 698
Hello 699
Hello 700
Hello 701
Hello 702
Hello 703
Hello 704
Hello 705
Hello 706
Hello 707
Hello 708
Hello 709
Hello 710
Hello 711
Hello 712
Hello 713
Hello 714
Hello 715
Hello 716
Hello 717
Hello 718
Hello 719
Hello 720
Hello 721
Hello 722
Hello 723
Hello 724
Hello 725
Hello 726
Hello 727
Hello 728
Hello 729
Hello 730
Hello 731
Hello 732
Hello 733
Hello 734
Hello 735
Hello 736
Hello 737
Hello 738
Hello 739
Hello 740
Hello 741
Hello 742
Hello 743
Hello 744
Hello 745
Hello 746
Hello 747
Hello 748
Hello 749
Hello 750
Hello 751
Hello 752
Hello 753
Hello 754
Hello 755
Hello 756
Hello 757
Hello 758
Hello 759
Hello 760
Hello 761
Hello 762
Hello 763
Hello 764
Hello 765
Hello 766
Hello 767
Hello 768
Hello 769
Hello 770
Hello 771
Hello 772
Hello 773
Hello 774
Hello 775
Hello 776
Hello 777
Hello 778
Hello 779
Hello 780
Hello 781
Hello 782
Hello 783
Hello 784
Hello 785
Hello 786
Hello 787
Hello 788
Hello 789
Hello 790
Hello 791
Hello 792
Hello 793
Hello 794
Hello 795
Hello 796
Hello 797
Hello 798
Hello 799
Hello 800
Hello 801
Hello 802
Hello 803
Hello 804
Hello 805
Hello 806
Hello 807
Hello 808
Hello 809
Hello 810
Hello 811
Hello 812
Hello 813
Hello 814
Hello 815
Hello 816
Hello 817
Hello 818
Hello 819
Hello 820
Hello 821
Hello 822
Hello 823
Hello 824
Hello 825
Hello 826
Hello 827
Hello 828
Hello 829
Hello 830
Hello 831
Hello 832
Hello 833
Hello 834
Hello 835
Hello 836
Hello 837
Hello 838
Hello 839
Hello 840
Hello 841
Hello 842
Hello 843
Hello 844
Hello 845
Hello 846
Hello 847
Hello 848
Hello 849
Hello 850
Hello 851
Hello 852
Hello 853
Hello 854
Hello 855
Hello 856
Hello 857
Hello 858
Hello 859
Hello 860
Hello 861
Hello 862
Hello 863
Hello 864
Hello 865
Hello 866
Hello 867
Hello 868
Hello 869
Hello 870
Hello 871
Hello 872
Hello 873
Hello 874
Hello 875
Hello 876
Hello 877
Hello 878
Hello 879
Hello 880
Hello 881
Hello 882
Hello 883
Hello 884
Hello 885
Hello 886
Hello 887
Hello 888
Hello 889
Hello 890
Hello 891
Hello 892
Hello 893
Hello 894
Hello 895
Hello 896
Hello 897
Hello 898
Hello 899
Hello 900
Hello 901
Hello 902
Hello 903
Hello 904
Hello 905
Hello 906
Hello 907
Hello 908
Hello 909
Hello 910
Hello 911
Hello 912
Hello 913
Hello 914
Hello 915
Hello 916
Hello 917
Hello 918
Hello 919
Hello 920
Hello 921
Hello 922
Hello 923
Hello 924
Hello 925
Hello 926
Hello 927
Hello 928
Hello 929
Hello 930
Hello 931
Hello 932
Hello 933
Hello 934
Hello 935
Hello 936
Hello 937
Hello 938
Hello 939
Hello 940
Hello 941
Hello 942
Hello 943
Hello 944
Hello 945
Hello 946
Hello 947
Hello 948
Hello 949
Hello 950
Hello 951
Hello 952
Hello 953
Hello 954
Hello 955
Hello 956
Hello 957
Hello 958
Hello 959
Hello 960
Hello 961
Hello 962
Hello 963
Hello 964
Hello 965
Hello 966
Hello 967
Hello 968
Hello 969
Hello 970
Hello 971
Hello 972
Hello 973
Hello 974
Hello 975
Hello 976
Hello 977
Hello 978
Hello 979
Hello 980
Hello 981
Hello 982
Hello 983
Hello 984
Hello 985
Hello 986
Hello 987
Hello 988
Hello 989
Hello 990
Hello 991
Hello 992
Hello 993
Hello 994
Hello 995
Hello 996
Hello 997
Hello 998
Hello 999
Hello 1000
Hello 1001
Hello 1002
Hello 1003
Hello 1004
Hello 1005
Hello 1006
Hello 1007
Hello 1008
Hello 1009
Hello 1010
Hello 1011
Hello 1012
Hello 1013
Hello 1014
Hello 1015
Hello 1016
Hello 1017
Hello 1018
Hello 1019
Hello 1020
Hello 1021
Hello 1022
Hello 1023
Hello 1024
Hello 1025
Hello 1026
Hello 1027
Hello 1028
Hello 1029
Hello 1030
Hello 1031
Hello 1032
Hello 1033
Hello 1034
Hello 1035
Hello 1036
Hello 1037
Hello 1038
Hello 1039
Hello 1040
Hello 1041
Hello 1042
Hello 1043
Hello 1044
Hello 1045
Hello 1046
Hello 1047
Hello 1048
Hello 1049
Hello 1050
Hello 1051
Hello 1052
Hello 1053
Hello 1054
Hello 1055
Hello 1056
Hello 1057
Hello 1058
Hello 1059
Hello 1060
Hello 1061
Hello 1062
Hello 1063
Hello 1064
Hello 1065
Hello 1066
Hello 1067
Hello 1068
Hello 1069
Hello 1070
Hello 1071
Hello 1072
Hello 1073
Hello 1074
Hello 1075
Hello 1076
Hello 1077
Hello 1078
Hello 1079
Hello 1080
Hello 1081
Hello 1082
Hello 1083
Hello 1084
Hello 1085
Hello 1086
Hello 1087
Hello 1088
Hello 1089
Hello 1090
Hello 1091
Hello 1092
Hello 1093
Hello 1094
Hello 1095
Hello 1096
Hello 1097
Hello 1098
Hello 1099
Hello 1100
Hello 1101
Hello 1102
Hello 1103
Hello 1104
Hello 1105
Hello 1106
Hello 1107
Hello 1108
Hello 1109
Hello 1110
Hello 1111
Hello 1112
Hello 1113
Hello 1114
Hello 1115
Hello 1116
Hello 1117
Hello 1118
Hello 1119
Hello 1120
Hello 1121
Hello 1122
Hello 1123
Hello 1124
Hello 1125
Hello 1126
Hello 1127
Hello 1128
Hello 1129
Hello 1130
Hello 1131
Hello 1132
Hello 1133
Hello 1134
Hello 1135
Hello 1136
Hello 1137
Hello 1138
Hello 1139
Hello 1140
Hello 1141
Hello 1142
Hello 1143
Hello 1144
Hello 1145
Hello 1146
Hello 1147
Hello 1148
Hello 1149
Hello 1150
Hello 1151
Hello 1152
Hello 1153
Hello 1154
Hello 1155
Hello 1156
Hello 1157
Hello 1158
Hello 1159
Hello 1160
Hello 1161
Hello 1162
Hello 1163
Hello 1164
Hello 1165
Hello 1166
Hello 1167
Hello 1168
Hello 1169
Hello 1170
Hello 1171
Hello 1172
Hello 1173
Hello 1174
Hello 1175
Hello 1176
Hello 1177
Hello 1178
Hello 1179
Hello 1180
Hello 1181
Hello 1182
Hello 1183
Hello 1184
Hello 1185
Hello 1186
Hello 1187
Hello 1188
Hello 1189
Hello 1190
Hello 1191
Hello 1192
Hello 1193
Hello 1194
Hello 1195
Hello 1196
Hello 1197
Hello 1198
Hello 1199
Hello 1200
Hello 1201
Hello 1202
Hello 1203
Hello 1204
Hello 1205
Hello 1206
Hello 1207
Hello 1208
Hello 1209
Hello 1210
Hello 1211
Hello 1212
Hello 1213
Hello 1214
Hello 1215
Hello 1216
Hello 1217
Hello 1218
Hello 1219
Hello 1220
Hello 1221
Hello 1222
Hello 1223
Hello 1224
Hello 1225
Hello 1226
Hello 1227
Hello 1228
Hello 1229
Hello 1230
Hello 1231
Hello 1232
Hello 1233
Hello 1234
Hello 1235
Hello 1236
Hello 1237
Hello 1238
Hello 1239
Hello 1240
Hello 1241
Hello 1242
Hello 1243
Hello 1244
Hello 1245
Hello 1246
Hello 1247
Hello 1248
Hello 1249
Hello 1250
Hello 1251
Hello 1252
Hello 1253
Hello 1254
Hello 1255
Hello 1256
Hello 1257
Hello 1258
Hello 1259
Hello 1260
Hello 1261
Hello 1262
Hello 1263
Hello 1264
Hello 1265
Hello 1266
Hello 1267
Hello 1268
Hello 1269
Hello 1270
Hello 1271
Hello 1272
Hello 1273
Hello 1274
Hello 1275
Hello 1276
Hello 1277
Hello 1278
Hello 1279
Hello 1280
Hello 1281
Hello 1282
Hello 1283
Hello 1284
Hello 1285
Hello 1286
Hello 1287
Hello 1288
Hello 1289
Hello 1290
Hello 1291
Hello 1292
Hello 1293
Hello 1294
Hello 1295
Hello 1296
Hello 1297
Hello 1298
Hello 1299
Hello 1300
Hello 1301
Hello 1302
Hello 1303
Hello 1304
Hello 1305
Hello 1306
Hello 1307
Hello 1308
Hello 1309
Hello 1310
Hello 1311
Hello 1312
Hello 1313
Hello 1314
Hello 1315
Hello 1316
Hello 1317
Hello 1318
Hello 1319
Hello 1320
Hello 1321
Hello 1322
Hello 1323
Hello 1324
Hello 1325
Hello 1326
Hello 1327
Hello 1328
Hello 1329
Hello 1330
Hello 1331
Hello 1332
Hello 1333
Hello 1334
Hello 1335
Hello 1336
Hello 1337
Hello 1338
Hello 1339
Hello 1340
Hello 1341
Hello 1342
Hello 1343
Hello 1344
Hello 1345
Hello 1346
Hello 1347
Hello 1348
Hello 1349
Hello 1350
Hello 1351
Hello 1352
Hello 1353
Hello 1354
Hello 1355
Hello 1356
Hello 1357
Hello 1358
Hello 1359
Hello 1360
Hello 1361
Hello 1362
Hello 1363
Hello 1364
Hello 1365
Hello 1366
Hello 1367
Hello 1368
Hello 1369
Hello 1370
Hello 1371
Hello 1372
Hello 1373
Hello 1374
Hello 1375
Hello 1376
Hello 1377
Hello 1378
Hello 1379
Hello 1380
Hello 1381
Hello 1382
Hello 1383
Hello 1384
Hello 1385
Hello 1386
Hello 1387
Hello 1388
Hello 1389
Hello 1390
Hello 1391
Hello 1392
Hello 1393
Hello 1394
Hello 1395
Hello 1396
Hello 1397
Hello 1398
Hello 1399
Hello 1400
Hello 1401
Hello 1402
Hello 1403
Hello 1404
Hello 1405
Hello 1406
Hello 1407
Hello 1408
Hello 1409
Hello 1410
Hello 1411
Hello 1412
Hello 1413
Hello 1414
Hello 1415
Hello 1416
Hello 1417
Hello 1418
Hello 1419
Hello 1420
Hello 1421
Hello 1422
Hello 1423
Hello 1424
Hello 1425
Hello 1426
Hello 1427
Hello 1428
Hello 1429
Hello 1430
Hello 1431
Hello 1432
Hello 1433
Hello 1434
Hello 1435
Hello 1436
Hello 1437
Hello 1438
Hello 1439
Hello 1440
Hello 1441
Hello 1442
Hello 1443
Hello 1444
Hello 1445
Hello 1446
Hello 1447
Hello 1448
Hello 1449
Hello 1450
Hello 1451
Hello 1452
Hello 1453
Hello 1454
Hello 1455
Hello 1456
Hello 1457
Hello 1458
Hello 1459
Hello 1460
Hello 1461
Hello 1462
Hello 1463
Hello 1464
Hello 1465
Hello 1466
Hello 1467
Hello 1468
Hello 1469
Hello 1470
Hello 1471
Hello 1472
Hello 1473
Hello 1474
Hello 1475
Hello 1476
Hello 1477
Hello 1478
Hello 1479
Hello 1480
Hello 1481
Hello 1482
Hello 1483
Hello 1484
Hello 1485
Hello 1486
Hello 1487
Hello 1488
Hello 1489
Hello 1490
Hello 1491
Hello 1492
Hello 1493
Hello 1494
Hello 1495
Hello 1496
Hello 1497
Hello 1498
Hello 1499
Hello 1500
Hello 1501
Hello 1502
Hello 1503
Hello 1504
Hello 1505
Hello 1506
Hello 1507
Hello 1508
Hello 1509
Hello 1510
Hello 1511
Hello 1512
Hello 1513
Hello 1514
Hello 1515
Hello 1516
Hello 1517
Hello 1518
Hello 1519
Hello 1520
Hello 1521
Hello 1522
Hello 1523
Hello 1524
Hello 1525
Hello 1526
Hello 1527
Hello 1528
Hello 1529
Hello 1530
Hello 1531
Hello 1532
Hello 1533
Hello 1534
Hello 1535
Hello 1536
Hello 1537
Hello 1538
Hello 1539
Hello 1540
Hello 1541
Hello 1542
Hello 1543
Hello 1544
Hello 1545
Hello 1546
Hello 1547
Hello 1548
Hello 1549
Hello 1550
Hello 1551
Hello 1552
Hello 1553
Hello 1554
Hello 1555
Hello 1556
Hello 1557
Hello 1558
Hello 1559
Hello 1560
Hello 1561
Hello 1562
Hello 1563
Hello 1564
Hello 1565
Hello 1566
Hello 1567
Hello 1568
Hello 1569
Hello 1570
Hello 1571
Hello 1572
Hello 1573
Hello 1574
Hello 1575
Hello 1576
Hello 1577
Hello 1578
Hello 1579
Hello 1580
Hello 1581
Hello 1582
Hello 1583
Hello 1584
Hello 1585
Hello 1586
Hello 1587
Hello 1588
Hello 1589
Hello 1590
Hello 1591
Hello 1592
Hello 1593
Hello 1594
Hello 1595
Hello 1596
Hello 1597
Hello 1598
Hello 1599
Hello 1600
Hello 1601
Hello 1602
Hello 1603
Hello 1604
Hello 1605
Hello 1606
Hello 1607
Hello 1608
Hello 1609
Hello 1610
Hello 1611
Hello 1612
Hello 1613
Hello 1614
Hello 1615
Hello 1616
Hello 1617
Hello 1618
Hello 1619
Hello 1620
Hello 1621
Hello 1622
Hello 1623
Hello 1624
Hello 1625
Hello 1626
Hello 1627
Hello 1628
Hello 1629
Hello 1630
Hello 1631
Hello 1632
Hello 1633
Hello 1634
Hello 1635
Hello 1636
Hello 1637
Hello 1638
Hello 1639
Hello 1640
Hello 1641
Hello 1642
Hello 1643
Hello 1644
Hello 1645
Hello 1646
Hello 1647
Hello 1648
Hello 1649
Hello 1650
Hello 1651
Hello 1652
Hello 1653
Hello 1654
Hello 1655
Hello 1656
Hello 1657
Hello 1658
Hello 1659
Hello 1660
Hello 1661
Hello 1662
Hello 1663
Hello 1664
Hello 1665
Hello 1666
Hello 1667
Hello 1668
Hello 1669
Hello 1670
Hello 1671
Hello 1672
Hello 1673
Hello 1674
Hello 1675
Hello 1676
Hello 1677
Hello 1678
Hello 1679
Hello 1680
Hello 1681
Hello 1682
Hello 1683
Hello 1684
Hello 1685
Hello 1686
Hello 1687
Hello 1688
Hello 1689
Hello 1690
Hello 1691
Hello 1692
Hello 1693
Hello 1694
Hello 1695
Hello 1696
Hello 1697
Hello 1698
Hello 1699
Hello 1700
Hello 1701
Hello 1702
Hello 1703
Hello 1704
Hello 1705
Hello 1706
Hello 1707
Hello 1708
Hello 1709
Hello 1710
Hello 1711
Hello 1712
Hello 1713
Hello 1714
Hello 1715
Hello 1716
Hello 1717
Hello 1718
Hello 1719
Hello 1720
Hello 1721
Hello 1722
Hello 1723
Hello 1724
Hello 1725
Hello 1726
Hello 1727
Hello 1728
Hello 1729
Hello 1730
Hello 1731
Hello 1732
Hello 1733
Hello 1734
Hello 1735
Hello 1736
Hello 1737
Hello 1738
Hello 1739
Hello 1740
Hello 1741
Hello 1742
Hello 1743
Hello 1744
Hello 1745
Hello 1746
Hello 1747
Hello 1748
Hello 1749
Hello 1750
Hello 1751
Hello 1752
Hello 1753
Hello 1754
Hello 1755
Hello 1756
Hello 1757
Hello 1758
Hello 1759
Hello 1760
Hello 1761
Hello 1762
Hello 1763
Hello 1764
Hello 1765
Hello 1766
Hello 1767
Hello 1768
Hello 1769
Hello 1770
Hello 1771
Hello 1772
Hello 1773
Hello 1774
Hello 1775
Hello 1776
Hello 1777
Hello 1778
Hello 1779
Hello 1780
Hello 1781
Hello 1782
Hello 1783
Hello 1784
Hello 1785
Hello 1786
Hello 1787
Hello 1788
Hello 1789
Hello 1790
Hello 1791
Hello 1792
Hello 1793
Hello 1794
Hello 1795
Hello 1796
Hello 1797
Hello 1798
Hello 1799
Hello 1800
Hello 1801
Hello 1802
Hello 1803
Hello 1804
Hello 1805
Hello 1806
Hello 1807
Hello 1808
Hello 1809
Hello 1810
Hello 1811
Hello 1812
Hello 1813
Hello 1814
Hello 1815
Hello 1816
Hello 1817
Hello 1818
Hello 1819
Hello 1820
Hello 1821
Hello 1822
Hello 1823
Hello 1824
Hello 1825
Hello 1826
Hello 1827
Hello 1828
Hello 1829
Hello 1830
Hello 1831
Hello 1832
Hello 1833
Hello 1834
Hello 1835
Hello 1836
Hello 1837
Hello 1838
Hello 1839
Hello 1840
Hello 1841
Hello 1842
Hello 1843
Hello 1844
Hello 1845
Hello 1846
Hello 1847
Hello 1848
Hello 1849
Hello 1850
Hello 1851
Hello 1852
Hello 1853
Hello 1854
Hello 1855
Hello 1856
Hello 1857
Hello 1858
Hello 1859
Hello 1860
Hello 1861
Hello 1862
Hello 1863
Hello 1864
Hello 1865
Hello 1866
Hello 1867
Hello 1868
Hello 1869
Hello 1870
Hello 1871
Hello 1872
Hello 1873
Hello 1874
Hello 1875
Hello 1876
Hello 1877
Hello 1878
Hello 1879
Hello 1880
Hello 1881
Hello 1882
Hello 1883
Hello 1884
Hello 1885
Hello 1886
Hello 1887
Hello 1888
Hello 1889
Hello 1890
Hello 1891
Hello 1892
Hello 1893
Hello 1894
Hello 1895
Hello 1896
Hello 1897
Hello 1898
Hello 1899
Hello 1900
Hello 1901
Hello 1902
Hello 1903
Hello 1904
Hello 1905
Hello 1906
Hello 1907
Hello 1908
Hello 1909
Hello 1910
Hello 1911
Hello 1912
Hello 1913
Hello 1914
Hello 1915
Hello 1916
Hello 1917
Hello 1918

RecursionError: maximum recursion depth exceeded while calling a Python object

41 -  Factorial using Recurrsion

In [ ]:
def fact(n):
  if n==0:
    return 1

  return n * fact(n-1)

result = fact(5)

print(result)

120

42 - Anonymous Functions | Lambda

In [ ]:
f = lambda a : a*a

result = f(5)

print(result)

25

In [ ]:
f = lambda a,b : a+b

result = f(5,6)

print(result)

11

43 - Filter Map Reduce

In [ ]:
nums = [3,2,6,4,8,2,6,9]

evens = list(filter(lambda n: n%2==0, nums))

doubles = list(map(lambda n: n*2, evens))

# print(evens)
print(doubles)

[4, 12, 8, 16, 4, 12]

In [ ]:
from functools import reduce

# def add_all(a,b):
#   return a+b

nums = [3,2,6,4,8,2,6,9]

evens = list(filter(lambda n: n%2==0, nums))

doubles = list(map(lambda n: n*2, evens))

# sum = reduce(add_all,doubles)

sum = reduce(lambda a,b : a+b,doubles)

print(evens)
print(doubles)
print(sum)

[2, 6, 4, 8, 2, 6]
[4, 12, 8, 16, 4, 12]
56

44 - Decorators

In [ ]:
def div(a,b):
  print(a/b)

def smart_div(func):

  def inner(a,b):
    if a<b:
      a,b = b,a
    return func(a,b)

  return inner

div = smart_div(div)

div(2,4)

2.0

45 - Modules

In [ ]:
def add(a,b):
  return a+b

def sub(a,b):
  return a-b

def multi(a,b):
  return a*b

def div(a,b):
  return a/b

# Basic calculator functions: add, subtract, multiply, divide
# Save this file as calc.py

In [ ]:
# This script imports and uses functions from calc.py
# to perform basic arithmetic operations


from calc import *

a = 9
b = 7

c = add(a,b)
d = sub(a,b)
e = multi(a,b)
f = div(a,b)

print(c)
print(d)
print(e)
print(f)

46 - Special Variable `__name__`

In [ ]:
print (__name__)

__main__

In [ ]:
# Demo.py

print("Hello" + __name__)

In [ ]:
 # Calc.py

 import Calc

 print("Demo Says : " + __name__)

In [ ]:
# Demo.py

def main():

  print("Hello")
  print("Welcome User")

if __name__ == "__main__":
  main()

In [ ]:
 # Calc.py

import Calc

print("Its Time to Calculate")

47 - Special Variable `__name__ `part 2

In [ ]:
# Demo.py
from Calc.py import add

def fun1():
  add()
  print("From fun1")

def fun2():
  print("From fun2")

def main():
  fun1()
  fun2()

main()

In [ ]:
# Calc.py

def add():
  print("Result 1 is ")

def sub():
  print("Result 2 is ")

def main():
  print("in Calc main")
  add()
  sub()

if __name__ == "__main__":
  main()

48 - Object Oriented Programming | Introduction

49 - Classes and Object

In [ ]:
class Computer:

  def config(self):
    print("i5, 16gb, 1TB")

com1 = Computer()
com2 = Computer()

print(type(com1))

Computer.config(com1)
com2.config()

<class '__main__.Computer'>
i5, 16gb, 1TB
i5, 16gb, 1TB

50 - `__init__` menthod

In [ ]:
class Computer:

  def __init__(self, cpu, ram):
    self.cpu = cpu
    self.ram = ram

  def config(self):
    print("Config is ", self.cpu, self.ram)

com1 = Computer('i5',16)
com2 = Computer('Ryzen 3',8)

Computer.config(com1)
com2.config()

Config is  i5 16
Config is  Ryzen 3 8

51 - Constructor, Self and Comparing Objects

In [ ]:
class Computer:

  def __init__(self):
    self.name = "Mukul"
    self.age = 25

  def update(self):
    self.age = 30

c1 = Computer()
c2 = Computer()

c1.name = "Naveen"
c1.age = 16

c1.update()

print(c1.name)
print(c2.name)

Naveen
Mukul

In [ ]:
class Computer:

  def __init__(self):
    self.name = "Mukul"
    self.age = 25

  def update(self):
    self.age = 30

  def compare(self, other):
    if self.age == other.age:
      return True
    else:
      return False

c1 = Computer()
c1.age = 30
c2 = Computer()

if c1.compare(c2):
  print("They are same")
else:
  print("They are different")

c1.update()

print(c1.name)
print(c2.name)

They are different
Mukul
Mukul

52 - Types of Variables

In [ ]:
class Car:

  wheels = 4

  def __init__(self):
    self.mil = 10
    self.com = "BMW"

c1 = Car()
c2 = Car()

c1.mil = 8

Car.wheels = 5

print(c1.com, c1.mil, c1.wheels)
print(c2.com, c2.mil, c2.wheels)

BMW 8 5
BMW 10 5

53 - Types of Methods

In [ ]:
class Student:
  school = "Telusko"

  def __init__(self, m1, m2, m3):
    self.m1 = m1
    self.m2 = m2
    self.m3 = m3

  def avg(self):
    return (self.m1 + self.m2 + self.m3)/3

  def get_m1(self):
    return self.m1

  def set_m1(self, value):
    self.m1 = value

s1 = Student(34,67,32)
s2 = Student(69,32,12)

print(s1.avg())
print(s2.avg())

44.333333333333336
37.666666666666664

In [ ]:
class Student:
  school = "Telusko"

  def __init__(self, m1, m2, m3):
    self.m1 = m1
    self.m2 = m2
    self.m3 = m3

  def avg(self):
    return (self.m1 + self.m2 + self.m3)/3

  @classmethod
  def info(cls):
    return cls.school

s1 = Student(34,67,32)
s2 = Student(69,32,12)

print(s1.avg())
print(s2.avg())
print(Student.info())

44.333333333333336
37.666666666666664
Telusko

In [ ]:
class Student:
  school = "Telusko"

  def __init__(self, m1, m2, m3):
    self.m1 = m1
    self.m2 = m2
    self.m3 = m3

  def avg(self):
    return (self.m1 + self.m2 + self.m3)/3

  @classmethod
  def getSchool(cls):
    return cls.school

  @staticmethod
  def info():
    print("This is an static method")

s1 = Student(34,67,32)
s2 = Student(69,32,12)

print(s1.avg())
print(s2.avg())

Student.info()
print(Student.getSchool())

44.333333333333336
37.666666666666664
This is an static method
Telusko

54 - Inner class

In [ ]:
class Student:

  def __init__(self, name, rollno):
    self.name = name
    self.rollno = rollno

s1 = Student("Mukul", 25)

print(s1.name)
print(s1.rollno)

s2 = Student("Naveen", 16)

print(s2.name)
print(s2.rollno)

Mukul
25
Naveen
16

In [ ]:
class Student:

  def __init__(self, name, rollno):
    self.name = name
    self.rollno = rollno

  def show(self):
    print(self.name, self.rollno)

s1 = Student("Mukul", 25)
s2 = Student("Naveen", 16)

s1.show()

Mukul 25

In [ ]:
class Student:

  def __init__(self, name, rollno):
    self.name = name
    self.rollno = rollno
    self.lap = self.Laptop()

  def show(self):
    print(self.name, self.rollno)
    self.lap.show()

  class Laptop:

    def __init__(self):
      self.brand = "HP"
      self.cpu = "i5"
      self.ram = 8

    def show(self):
      print(self.brand, self.cpu, self.ram)


s1 = Student("Mukul", 25)
s2 = Student("Naveen", 16)

s1.show()

# s1.lap.brand

# lap1 = s1.lap
# lap2 = s2.lap

# print(id(lap1))
# print(id(lap2))

Mukul 25
HP i5 8

55 - Inheritance

Single Level Inheritace

In [ ]:
class A:
  def feature1(self):
    print("Feature 1 working")

  def feature2(self):
    print("Feature 2 working")

class B(A):
  def feature3(self):
    print("Feature 3 working")

  def feature4(self):
    print("Feature 4 working")

a1 = A()

a1.feature1()
a1.feature2()

b1 = B()

b1.feature1()
b1.feature2()
b1.feature3()
b1.feature4()

Feature 1 working
Feature 2 working
Feature 1 working
Feature 2 working
Feature 3 working
Feature 4 working

Multi Level Inheritace

In [ ]:
class A:
  def feature1(self):
    print("Feature 1 working")

  def feature2(self):
    print("Feature 2 working")

class B(A):
  def feature3(self):
    print("Feature 3 working")

  def feature4(self):
    print("Feature 4 working")

class C(B):
  def feature5(self):
    print("Feature 5 working")

a1 = A()

# a1.feature1()
# a1.feature2()

b1 = B()

# b1.feature1()
# b1.feature2()
# b1.feature3()
# b1.feature4()

c1 = C()

c1.feature1()
c1.feature2()
c1.feature3()
c1.feature4()
c1.feature5()

Feature 1 working
Feature 2 working
Feature 3 working
Feature 4 working
Feature 5 working

Multiple Level Inheritace

In [ ]:
class A:
  def feature1(self):
    print("Feature 1 working")

  def feature2(self):
    print("Feature 2 working")

class B:
  def feature3(self):
    print("Feature 3 working")

  def feature4(self):
    print("Feature 4 working")

class C(A,B):
  def feature5(self):
    print("Feature 5 working")

a1 = A()

b1 = B()
# b1.feature3()
# b1.feature4()

c1 = C()
c1.feature1()
c1.feature2()
c1.feature3()
c1.feature4()
c1.feature5()

Feature 1 working
Feature 2 working
Feature 3 working
Feature 4 working
Feature 5 working

56 - Constructor in Inheritance

In [ ]:
class A:

  def __init__(self):
    print("In A init")

  def feature1(self):
    print("Feature 1 working")

  def feature2(self):
    print("Feature 2 working")

class B(A):

  def __init__(self):
    super().__init__()
    print("In B init")

  def feature3(self):
    print("Feature 3 working")

  def feature4(self):
    print("Feature 4 working")

a1 = B()

In A init
In B init

In [ ]:
class A:

  def __init__(self):
    print("In A init")

  def feature1(self):
    print("Feature 1-A working")

  def feature2(self):
    print("Feature 2 working")

class B:

  def __init__(self):
    print("In B init")

  def feature3(self):
    print("Feature 3-B working")

  def feature4(self):
    print("Feature 4 working")

class C(A, B):

  def __init__(self):
    super().__init__()
    print("In C init")

  def feat(self):
    super().feature2()

a1 = C()
a1.feature1()
a1.feat()

In A init
In C init
Feature 1-A working
Feature 2 working

57 - Polymorphism

58 - Duck Typing

In [ ]:
class PyCharm:

  def execute(self):
    print("Compiling")
    print("Running")

class Lapotp:

  def code(self, ide):
    ide.execute()

ide = PyCharm()

lap1 = Lapotp()
lap1.code(ide)

Compiling
Running

In [ ]:
class PyCharm:

  def execute(self):
    print("Compiling")
    print("Running")

class MyEditor:

  def execute(self):
    print("Spell Check")
    print("Convention Check")
    print("Compiling")
    print("Running")

class Lapotp:

  def code(self, ide):
    ide.execute()

ide = MyEditor()

lap1 = Lapotp()
lap1.code(ide)

Spell Check
Convention Check
Compiling
Running

59 - Operator Overloading | Polymorphism

In [ ]:
a = '5'
b = '6'

print(a+b)

print(str.__add__(a,b))

56
56

In [ ]:
class Student:

  def __init__(self, m1, m2):
    self.m1 = m1
    self.m2 = m2

  def __add__(self, other):
    m1 = self.m1 + other.m1
    m2 = self.m2 + other.m2
    s3 = Student(m1, m2)

    return s3

  def __gt__(self, other):
    r1 = self.m1 + self.m2
    r2 = other.m1 + other.m2

    if r1 > r2:
      return True
    else:
      return False

s1 = Student(58,69)
s2 = Student(69,65)

s3 = s1 + s2

print(s3.m1)

if s1 > s2:
  print("s1 wins")
else:
  print("s2 wins")

127
s2 wins

In [ ]:
class Student:

  def __init__(self, m1, m2):
    self.m1 = m1
    self.m2 = m2

  def __add__(self, other):
    m1 = self.m1 + other.m1
    m2 = self.m2 + other.m2
    s3 = Student(m1, m2)

    return s3

  def __gt__(self, other):
    r1 = self.m1 + self.m2
    r2 = other.m1 + other.m2

    if r1 > r2:
      return True
    else:
      return False


  def __str__(self):
    return '{} {}'.format(self.m1, self.m2)

s1 = Student(58,69)
s2 = Student(69,65)

s3 = s1 + s2

print(s3.m1)

if s1 > s2:
  print("s1 wins")
else:
  print("s2 wins")

a = 9
print(a.__str__())

print(s1)
print(s2)

127
s2 wins
9
58 69
69 65

60 - Method Overloading and Method Overriding

In [ ]:
class Student:

  def __init__(self, m1, m2):
    self.m1 = m1
    self.m2 = m2

  def sum(self, a, b):
    s = a + b
    return s

s1 = Student(58,69)

print(s1.sum(5,9))

14

Method Overloading

In [ ]:
class Student:

  def __init__(self, m1, m2):
    self.m1 = m1
    self.m2 = m2

  def sum(self, a=None, b=None, c=None):
    s = 0
    if a != None and b != None and c != None:
      s = a + b + c
    elif a != None and b != None:
      s = a + b
    else:
      s = a
    return s

s1 = Student(58,69)

print(s1.sum(5,9,6))

20

Method Overriding

In [ ]:
class A:

  def show(self):
    print("in A Show")

class B(A):

  def show(self):
    print("in B Show")

a1 = B()
a1.show()

in B Show

Video: Abstract Class and Abstract Method

In [ ]:
from abc import ABC, abstractmethod

class Computer(ABC):
  @abstractmethod
  def process(self):
    pass

class Laptop(Computer):

  def process(self):
    print("It is running")

lap1 = Laptop()
lap1.process()

It is running

In [ ]:
from abc import ABC, abstractmethod

class Computer(ABC):
  @abstractmethod
  def process(self):
    pass

class Laptop(Computer):

  def process(self):
    print("It is running")

class Progammer:
  def work(self):
    print("Solving bugs")

prog1 = Progammer()
prog1.work()

lap1 = Laptop()
lap1.process()

Solving bugs
It is running

In [ ]:
from abc import ABC, abstractmethod

class Computer(ABC):
  @abstractmethod
  def process(self):
    pass

class Laptop(Computer):

  def process(self):
    print("Its running")

class Progammer:
  def work(self, com):
    print("Solving bugs")
    com.process()

comp1 = Laptop()

prog1 = Progammer()
prog1.work(comp1)

Solving bugs
Its running

61 - Iterator

In [ ]:
nums = [7,8,9,5]

it = iter(nums)

print(it.__next__())
print(it.__next__())

7
8

In [ ]:
nums = [7,8,9,5]

it = iter(nums)

print(it.__next__())

print(next(it))

for i in nums:
  print(i)

7
8
7
8
9
5

In [ ]:
class TopTen:

  def __init__(self):
    self.num = 1

  def __iter__(self):
    return self

  def __next__(self):
    if self.num <= 10:
      val = self.num
      self.num += 1
      return val
    else:
      raise StopIteration

values = TopTen()

print(next(values))

for i in values:
  print(i)

1
2
3
4
5
6
7
8
9
10

62 - Generators

In [ ]:
def topten():

  yield 1
  yield 2
  yield 3
  yield 4

values = topten()

# print(values)
print(values.__next__())
print(values.__next__())

1
2

In [ ]:
def topten():

  yield 1
  yield 2
  yield 3
  yield 4

values = topten()

# print(values)
print(values.__next__())

for i in values:
  print(i)

1
2
3
4

In [ ]:
def topten():

  n = 1
  while n <= 10:
    sq = n*n
    yield sq
    n += 1


values = topten()

for i in values:
  print(i)

1
4
9
16
25
36
49
64
81
100

63 - Exception Handling

In [ ]:
a = 5
b = 0

try:
  print(a/b)
except Exception as e:
  print("Hey, you cannot divide a number by zero", e)

Hey, you cannot divide a number by zero division by zero

In [ ]:
a = 5
b = 0

try:
  print("Resource Open")
  print(a/b)

except Exception as e:
  print("Hey, you cannot divide a number by zero", e)
  print("Resource Closed")

Resource Open
Hey, you cannot divide a number by zero division by zero
Resource Closed

In [ ]:
a = 5
b = 2

try:
  print("Resource Open")
  print(a/b)

except Exception as e:
  print("Hey, you cannot divide a number by zero", e)

finally:
  print("Resource Closed")

Resource Open
2.5
Resource Closed

In [ ]:
a = 5
b = 2

try:
  print("Resource Open")
  print(a/b)
  k = int(input("Enter a number: "))
  print(k)

except Exception as e:
  print("Hey, you cannot divide a number by zero", e)

finally:
  print("Resource Closed")

Resource Open
2.5
Enter a number: p
Hey, you cannot divide a number by zero invalid literal for int() with base 10: 'p'
Resource Closed

In [ ]:
a = 5
b = 2

try:
  print("Resource Open")
  print(a/b)
  k = int(input("Enter a number: "))
  print(k)

except ZeroDivisionError as e:
  print("Hey, you cannot divide a number by zero", e)

except ValueError as e:
  print("Invalid Input")

except Exception as e:
  print("Something went wrong...")

finally:
  print("Resource Closed")

Resource Open
2.5
Enter a number: p
Invalid Input
Resource Closed

64 - MultiThreading

In [1]:
class Hello:
  def run (self):
    for i in range(5):
      print("Hello")

class Hi:
  def run (self):
    for i in range(5):
      print("Hi")

t1 = Hello()
t2 = Hi()

t1.run()
t2.run()

Hello
Hello
Hello
Hello
Hello
Hi
Hi
Hi
Hi
Hi

In [6]:
from threading import *

class Hello(Thread):
  def run (self):
    for i in range(10):
      print("Hello")

class Hi(Thread):
  def run (self):
    for i in range(10):
      print("Hi")

t1 = Hello()
t2 = Hi()

# t1.run()
# t2.run()

t1.start()
t2.start()

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi
Hi

In [14]:
from threading import *
from time import sleep

class Hello(Thread):
  def run (self):
    for i in range(5):
      print("Hello")
      sleep(1)

class Hi(Thread):
  def run (self):
    for i in range(5):
      print("Hi")
      sleep(1)

t1 = Hello()
t2 = Hi()

# t1.run()
# t2.run()

t1.start()
sleep(0.2)
t2.start()

t1.join()
t2.join()

print ("Bye")

Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Hello
Hi
Bye

65 - File handling

`MyData.txt `

My name is Mukul

Python

Linux

Ayodhya

In [2]:
f = open("MyData.txt", "r")

print(f.read())

My name is Mukul
Python
Linux
Ayodhya

In [3]:
f = open("MyData.txt", "r")

print(f.readline())

My name is Mukul

In [4]:
f = open("MyData.txt", "r")

print(f.readline(), end="")
print(f.readline())

My name is Mukul
Python

create new txt file - abc.txt

In [8]:
f = open("MyData.txt", "r")

f1 = open("abc.txt", "w")

# f1.write("Something")
# f1.write("People")

f1.write('Laptop')

6

In [10]:
f = open("MyData.txt", "r")

f1 = open("abc.txt", "a")

# f1.write('Laptop')

f1.write('Mobile')

6

In [13]:
f = open("MyData.txt", "r")

f1 = open("abc.txt", "w")

for data in f:
  f1.write(data)

In [2]:
f = open("Test.jpg", "rb")

for data in f:
  print(f)

<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>
<_io.BufferedReader name='Test.jpg'>

In [6]:
f = open("Test.jpg", "rb")

f1 = open("MyPic.jpg", "wb")

for data in f:
  f1.write(data)

66 - Comments

In [7]:
# This is a simple program that prints "Hello, World!" on the screen
print("Hello, World!")

Hello, World!

67 - is Python Compiled or Interpreted Language?

68 - Linear Search using Python

In [21]:
pos = -1

def search(list, n):
  i = 0

  while i < len(list):
    if list[i] == n:
      globals()['pos'] = i
      return True
    i = i + 1

  return False

list = [5,4,6,9,8,1]
n = 6

if search(list, n):
  print("Found at", pos+1)
else:
  print("Not Found")

Found at 3

In [22]:
pos = -1

def search(list, n):
  for i in range(len(list)):
    if list[i] == n:
      globals()['pos'] = i
      return True
  return False

list = [5,4,6,9,8,1]
n = 6

if search(list, n):
  print("Found at", pos+1)
else:
  print("Not Found")

Found at 3

69 - Linear Search using Python

In [24]:
pos = -1

def search(list, n):

  l = 0
  u = len(list) - 1

  while l <= u:
    mid = (l + u) // 2

    if list[mid] == n:
      globals()['pos'] = mid
      return True
    else:
      if list[mid] < n:
        l = mid + 1
      else:
        u = mid - 1

  return False

list = [4,7,8,12,45,99]
n = 45

if search(list, n):
  print("Found at", pos+1)
else:
  print("Not Found")

Found at 5

70 - Bubble Sort in python

In [27]:
def sort (nums):
  for i in range(len(nums)-1,0,-1):
    for j in range(i):
      if nums[j] > nums[j+1]:
        temp = nums[j]
        nums[j] = nums[j+1]
        nums[j+1] = temp

nums = [5,9,2,1,67,34,88,34]
sort(nums)
print(nums)

[1, 2, 5, 9, 34, 34, 67, 88]

71 - Selection Sort using Python

In [32]:
def sort (nums):

  for i in range(5):
    minpos = i
    for j in range(i,6):
      if nums[j] < nums[minpos]:
        minpos = j

    temp = nums[i]
    nums[i] = nums[minpos]
    nums[minpos] = temp

    print(nums)

nums = [5,9,2,1,3,7]
sort(nums)
print(nums)

[1, 9, 2, 5, 3, 7]
[1, 2, 9, 5, 3, 7]
[1, 2, 3, 5, 9, 7]
[1, 2, 3, 5, 9, 7]
[1, 2, 3, 5, 7, 9]
[1, 2, 3, 5, 7, 9]

72 - Python Database Connection

73 - Python Database Connection | MySQL

In [34]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (7.2 kB)
Downloading mysql_connector_python-9.3.0-cp311-cp311-manylinux_2_28_x86_64.whl (33.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 33.9/33.9 MB 54.1 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0

In [1]:
import mysql.connector

mydb = mysql.connector.connect(host='localhost', user='root', password='0750')

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000029BD9530440>

In [3]:
import mysql.connector

mydb = mysql.connector.connect(host='localhost', user='root', password='0750')

mycursor = mydb.cursor()

mycursor.execute("show databases")

for x in mycursor:
  print(x)

('information_schema',)
('mukul',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

Execute SELECT query

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(host='localhost', user='root', password='0750',database='mukul')

mycursor = mydb.cursor()

# SELECT
mycursor.execute("select * from student")

for x in mycursor:
  print(x)

('mukul', 'rmlau')
('shubham', 'rmlau')

In [6]:
import mysql.connector

mydb = mysql.connector.connect(host='localhost', user='root', password='0750',database='mukul')

mycursor = mydb.cursor()

mycursor.execute("select * from student")

result = mycursor.fetchone()

for x in result:
  print(x)

mukul
rmlau

Execute INSERT query

In [31]:
import mysql.connector

mydb = mysql.connector.connect(host='localhost', user='root', password='0750',database='mukul')

mycursor = mydb.cursor()

# SELECT
mycursor.execute("select * from student")
result = mycursor.fetchall()

# INSERT
mycursor.execute("INSERT INTO student (name, college) VALUES ('akshat', 'rmlau')")
mydb.commit()
print("1 row inserted.")

for x in result:
  print(x)

1 row inserted.
('mukul', 'rmlau')
('shubham', 'rmlau')
('akshat', 'rmlau')

Execute DELETE query

In [32]:
import mysql.connector

mydb = mysql.connector.connect(host='localhost', user='root', password='0750', database='mukul')
mycursor = mydb.cursor()

# SELECT
mycursor.execute("SELECT * FROM student WHERE name = 'akshat'")
deleted_data = mycursor.fetchall()

# DELETE the row
mycursor.execute("DELETE FROM student WHERE name = 'akshat'")
mydb.commit()

# Print deleted row(s)
print("---- Deleted Row(s) ----")
for row in deleted_data:
    print(row)

---- Deleted Row(s) ----
('akshat', 'rmlau')
('akshat', 'rmlau')

Execute ALTER query - add a new column 'age'

In [18]:

import mysql.connector

mydb = mysql.connector.connect(host='localhost', user='root', password='0750',database='mukul')

mycursor = mydb.cursor()


# ALTER (add a new column 'age')
try:
    mycursor.execute("ALTER TABLE student ADD COLUMN age INT")
    print("Column 'age' added.")
except:
    print("Column might already exist, skipping.")

mycursor.execute("SELECT * FROM student")
    
columns = [desc[0] for desc in mycursor.description]
print("---- COLUMNS ----")
print(columns)

Column 'age' added.
---- COLUMNS ----
['name', 'college', 'age']

74 - Git | PyCharm | GitHub

75 - Python GitHub Code Contribution